body {

}

.container {
    /* display: inline-block; */
    width: 100%;
    /* width: 800px; */
    margin-left: calc((100% - 800px)/2);
}

/* HEADER */
header > .logo {
    height: 15px;
    align-content: center;
    float: right;
    object-fit: contain;
    /* object-position: top left; */
}



/* MAIN */



/* FOOTER */

